header {
    border: 10px rgb(153, 151, 151) groove;
    height: 25%;
    width: 99%;
}
footer {
    border: 8px rgb(153, 151, 151)groove;
    height: 10%;
    width: 98.5%;
    position: absolute;
    top: 93%;


}
div{
    position: absolute;
    height: 30%;
    width: 30%;
    bottom: 55%;
    left: 10%;
    border: 10px green;
}