h1{

}
header{
    border: 8px red solid;
height: 25%;
}
nav{
    border: 3px rgb(51, 37, 16) dotted;
    height: 55%;
    width: 30%;
    position: absolute;
}
footer{
    border: 6px rgb(69, 209, 123) double;
    height: 15%;
    position: absolute;
    top: 85%;
}
  
main{
    border: 3px blue dotted;
    height: 50%;
    width: 70%;
    position: absolute;
    left: 33%;
}