/* autor: Enrique Tornera Moya */
header{
    border: 5px rgba(0, 0, 0, 0.616) double;
    width: 45%;

}
header pre:first-child{
    color: rgb(141, 133, 28);
}
a:link{
    background-color: rgb(114, 189, 199);
}
a:visited{
    background-color: beige;
}
a:hover{
    background-color: brown;
    border: 10px green solid;
    font-size: 30px;
    font-style: oblique;
    font-weight: bold;
    color: azure;
}
a:active{
    background-color: black;
    color: yellow;
}